{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended"
  ],
  "plugins": [
  ],
  "rules": {
    "curly": "error",
    "one-var": [
      "error",
      "never"
    ]
  }
}
