{
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^@?[a-zA-Z]+.+",
    "^@/(?!.*\\.(css|scss|less)$)",
    "^\\.\\.?/(?!.*.(css|scss|less)$)",
    "^.(?!(css|scss|less)$)[^.]*$",
    "(.css|.scss|.less)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false,
  "importOrderGroupNamespaceSpecifiers": false
}
